#### ESP32 ####

# Execute the follow to "get_idf"
. $HOME/esp/esp-idf/export.sh

#### Git ####

# Point hooks to directory managed within repo
git config --local core.hooksPath .githooks/

#### TODO
# luz tidy
# luz format
# luz build
# luz test
# luz flash?
